body{
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #807d7d;
    flex-wrap: wrap;
}


header{
    height: fit-content;
}


.header-section{
    width: 1380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 100px;
    background-color: #1F2937;
    padding: 0 30px 100px 30px;
}


#logo-container{
    display: flex;
    justify-content: flex-start;
    order: 1;
    flex: 1 0 30%;
    height: auto;
    padding-left: 200px;
}


#logo-text{
    font-size: 24px;
    color: #f9faf8;
}


#header-links-container{
    order: 2;
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}


ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}


a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


#header-text-container{
    display: flex;
    flex-wrap: wrap;
    order: 3;
    flex: 1 1 30%;
    justify-content: flex-start;
    width: 10px;
    padding-left: 200px;
    padding-right: 50px;
}


.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #E5E7EB;
    margin: 0px;
    padding-bottom: 8px;
}



#header-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    padding-bottom: 16px;
}


.header-image-container{
    display: flex;
    flex: 1 1 30%;
    order: 4;
    justify-content: flex-start;
    padding-right: 200px;
}


#header-image{
    width: 500px;
    height: 25vh;
}


.sign-up-button{
    padding: 8px 32px 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    border: 0px;
}


.main-content{
    display: flex;
    background-color: #f9faf8;
    width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}


.information-text-container{
    order: 1;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 32px;
}


.information-text{
    font-size: 36px;
    font-weight: 800;
    margin: 0px;
}


.illustration-section{
    order: 2;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
}


.illustration{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}


.subtext-container{
    order: 3;
    flex-basis: 850px;
}


.subtext{
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}


.subtest-li{
    text-align: center;
    width: 175px;
    font-size: 18px;
    color: #142937;
}


.quote-section{
    height: 400px;
    width: 1440px;
    display: flex;
    order: 4;
    background-color: #E5E7EB;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap:16px
}


.quote-text{
    order: 1;
    flex: 0.5 0 30%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}


.quote-author{
    order: 2;
    flex: 0.1 0 80%;
    font-size: 24px;
    text-align: end;
    padding-right: 250px;
    margin: 0px;
}


.blue-sign-up-section{
    order: 5;
    display: flex;
    width: 1000px;
    height: 150px;
    flex-wrap: wrap;
    background-color: #3882f6;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 128px;
}


.blue-sign-up-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}


.blue-sign-up-heading{
    order: 1;
    flex: 1 0 100%;
    font-size: 30px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    padding-left: 100px;
}


.blue-sign-up-subtext{
    order: 2;
    color:  #f9faf8;
    font-size: 18px;
    margin: 0px;
    padding-left: 100px;
}


#blue-sign-up-button-2{
    order: 3;
    border-width: 2px;
    border-color: #E5E7EB;
    border-style: solid;
    padding: 4px 32px 4px 32px;
    margin-left: 150px;
}